spring:
  datasource:
    url: jdbc:postgresql://db:5432/cinemas
    username: app
    password: app
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  mvc:
    format:
      date: yyyy-MM-dd
      date-time: yyyy-MM-dd HH:mm:ss
      time: HH:mm:ss
